@import "tailwindcss";

.gradient-text {
    background: linear-gradient(to right, #6a5acd, #00bfff); /* Degradado morado a azul */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
