---
import Github from "../icons/Github"
import Instagram from "../icons/Instagram"
import TikTok from "../icons/TikTok"
import YouTube from "../icons/YouTube"
---

<nav class="flex items-center justify-center md:justify-end gap-5 px-10 py-5 w-full">
    <a target="_blank" href="https://github.com/elrincondeldev/backgrounds-hub" class="transition-transform transform hover:scale-110 hover:text-gray-700">
        <Github width={30} height={30} />
    </a>
    <a target="_blank" href="https://www.instagram.com/elrincondeldev/" class="transition-transform transform hover:scale-110 hover:text-gray-700">
        <Instagram width={30} height={30} />
    </a>
    <a target="_blank" href="https://www.tiktok.com/@elrincondeldev" class="transition-transform transform hover:scale-110 hover:text-gray-700">
        <TikTok width={30} height={30} />
    </a>
    <a target="_blank" href="https://www.youtube.com/@elrincondeldev" class="transition-transform transform hover:scale-110 hover:text-gray-700">
        <YouTube width={30} height={30} />
    </a>
</nav>